/* font-family: 'Quicksand', sans-serif;
COLORS
light-yellow - #f7e4bf;
light-blue - #78a7c6;
dark-blue - #134d71;
white - #ffffff;
black - #000000;
*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Quicksand', sans-serif;;
}
html{
    height: 100%;
}

body {
    height:100%;
    background: linear-gradient(to bottom, #134d72 0%,#78a7c6, #f7e4bf 100%);
}
.main{
    padding: 40px 20px;
}
.content{
    height:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}
.title{
    color: white;
    font-size: 3rem;
    text-align: center;

}
.message-form__label{
    font-style: italic;
}
  .message-form{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width:100%;
  }
  .message-form__title{
    color: white;
    font-size: 1.5rem;
  }
.message-form__form{
    align-items: center;
    display:flex;
    flex-direction: column;
    gap: 16px;
    background-color: white;
    border-radius: 1em;
    text-align: center;
    padding:12px;
    width:50%;
}
.message-form__button{
    width:180px;
    border-radius: 8px;
}
  .recieveMessage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: "1em"; 
  }
.container2 {
    align-items: center;
    background-color: #ffffff;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 30px;
    text-align: center;
    width : 75%;
}
#bigLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100px;
    height: auto;
}
#clearButton{
    visibility: hidden;
    align-items: center;
    justify-content: center;
    margin: 0.5rem;
    height: 2rem;
}
